<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcQ9ksGKmzMiUFfovp0vYbKgql-aYsYj8</string>
	<key>GCM_SENDER_ID</key>
	<string>623485307642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vtn.global.base.flutter</string>
	<key>PROJECT_ID</key>
	<string>vtn-base</string>
	<key>STORAGE_BUCKET</key>
	<string>vtn-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623485307642:ios:5901b25e2f86ab4f23d743</string>
</dict>
</plist>